azure-storage-blob
cartopy
cdsapi
cfgrib
dask
distributed
eccodes
ecmwf-api-client
h5py>2.10
ibicus
matplotlib
motuclient
netcdf4<1.6.1
pandas<2
plotly
pip
pydap
rioxarray
scitools-iris
seaborn
setuptools
tensorboard
tensorflow<2.16
tensorflow-probability
wheel
xarray[io]<2023.2.0
