azure-storage-blob
cartopy
cdsapi
cfgrib
dask
distributed
eccodes
ecmwf-api-client
h5py
ibicus
matplotlib
motuclient
netcdf4
plotly
pip
pydap
rioxarray
scitools-iris
seaborn
setuptools
tensorboard
tensorflow
tensorflow-probability
wheel
xarray[io]
